<div id="about-me" class="aboutMe">
    <div class="aboutMeImg">
        <img data-aos="zoom-in" data-aos-easing="ease-out-cubic" src="./assets/img/profile.jpg">

        <div data-aos="fade-right" data-aos-easing="ease-out-cubic" class="aboutMeText">
            <h1>About Me</h1>
            <p>I'm really looking forward to my new phase of life as a Front End developer and I'm ready to master any challenge</p>
        </div>
    </div>



    <div data-aos="fade-right" data-aos-easing="ease-out-cubic" class="aboutMeBigBox">

        <div class="aboutMeBox">
            <div class="aboutMeIconBox">
                <img src="./assets/img/Vector2.png">
            </div>

            <h2>MY JOURNEY BEGAN</h2>
            <p>The interest in programming was always there. After programming small websites at home and watching other tutorials, I decided to expand my IT knowledge and make this my profession.
            </p>
        </div>

        <div class="aboutMeBox">
            <div class="aboutMeIconBox">
                <img src="./assets/img/Vector3.png">
            </div>

            <h2>ENTHUSIASM</h2>
            <p>I am very excited about the variety of programming and application possibilities. I like to use my IT skills to make the world a better place.
            </p>
        </div>

        <div class="aboutMeBox">
            <div class="aboutMeIconBox">
                <img src="./assets/img/Vector (13).png">
            </div>

            <h2>I'M LOOKING FOR</h2>
            <p>I did some research on the internet and found out that there is a way to get into IT Branch as a career changer.
            </p>
        </div>

        <div class="aboutMeBox">
            <div class="aboutMeIconBox">
                <img src="./assets/img/Vector.png">
            </div>

            <h2>THE START</h2>
            <p>After some research I got interested in the developer academy. I did a few tutorials and realized that this style suited me. So I decided to do my further education at the developer academy.
            </p>
        </div>

    </div>

</div>