<div id="portfolio" class="myWork">
    <h1 data-aos="flip-right" data-aos-easing="ease-out-cubis">My work</h1>

    <div class="myWorkBtn">
        <button [class.btnActiv]="startColor" mat-stroked-button color="primary" [style.background-color]="t!=1 ? 'black' : '#FA2759'" #all (click)="setSearchParam('all', '1')" class="btn-left-right left">All</button>
        <button mat-stroked-button color="primary" [style.background-color]="t!=2 ? 'black' : '#FA2759'" #angular (click)="setSearchParam('angular', '2')" class="btn-mit">Angular</button>
        <button mat-stroked-button color="primary" [style.background-color]="t!=3 ? 'black' : '#FA2759'" #javascript (click)="setSearchParam('javascript', '3')" class="btn-left-right">JavaScript</button>
    </div>

    <div class="projects">
        <div class="projects-container" data-aos="fade-in" data-aos-offset="100" *ngFor="let picture, let project of getallProjectPictures() let i = index" (mouseover)="isChangedBlock[i] = true" (mouseout)="isChangedBlock[i] = false">
            <div class="projects-hover">
                <img src="assets/img/{{ picture['path'] }}">

                <div class="projekt-info">
                    <span class="title">{{project['title']}}</span>
                    <div>
                        <p>{{project["description"]}}</p>
                        <p>{{project["p"]}}</p>
                    </div>

                    <div class="project-btn">
                        <button mat-stroked-button color="primary" (click)="openNewTab(i)">Try out</button>
                        <button mat-stroked-button color="primary" (click)="openGitLink(i)" class="git">Git</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>