.myWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    h1 {
        color: white;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        @media (max-width: 420px) {
            font-size: 38px;
            margin-top: 50px;
        }
        @media (max-width: 280px) {
            font-size: 34px;
            margin-top: 50px;
        }
    }
}

.d-none {
    display: none !important;
}

.myWorkBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 12px;
    button {
        background-color: black;
        color: white;
        font-size: 16px;
        border: solid 2px #FA2759;
        min-width: 150px;
        height: 70px;
        padding: 10px;
        margin: 8px;
        &:hover {
            background-color: #FA2759;
        }
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    max-width: 1200px;
    margin-bottom: 80px;
    img {
        object-fit: contain;
        max-width: 100%;
        width: 450px;
        display: block;
    }
    .projects-container {
        padding: 30px;
    }
    .projects-hover {
        position: relative;
    }
}

$verzoegerung: 700ms;
.projekt-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(254, 254, 254, 0.9);
    opacity: 0;
    transition: opacity $verzoegerung;
    &:hover {
        opacity: 1;
    }
    .title {
        padding-top: 20px;
        font-weight: 900;
        font-size: 25px;
        color: #FA2759;
        display: flex;
        justify-content: center;
    }
    p {
        padding-left: 50px;
        padding-right: 20px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        max-width: 420px;
    }
    button {
        height: 50px;
        width: 120px;
        color: #FA2759;
        border: solid 2px #FA2759;
        font-size: 18px;
        position: absolute;
        bottom: 20px;
        right: 50px;
        &:hover {
            background-color: #FA2759;
            color: white;
        }
    }
}

.project-btn {
    display: flex;
}

.git {
    position: absolute;
    left: 50px;
}