<div class='impressum'>
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Waldemar Neumann <br> Maushäuschen 21<br> 42489 Wülfrath <br>
    </p>
    <p> <strong>Vertreten durch: </strong><br> Waldemar Neumann<br>
    </p>
    <p><strong>Kontakt:</strong> <br> Telefon: %2B49-1577 6475858<br> E-Mail: <a href='mailto:waldemar_neumann@gmx.de'>waldemar_neumann@gmx.de</a><br>
    </p><br> Website Impressum erstellt durch <a href="https://www.impressum-generator.de">impressum-generator.de</a> von der <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow">Kanzlei Hasselbach</a>
</div>