.impressum {
    background-color: #1A1A1A;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    @media (max-width: 420px) {
        padding-left: 25px;
        padding-right: 25px;
    }
}