<div class="mySkills">

    <h1 data-aos="fade-right" data-aos-easing="ease-out-cubis">My Skills</h1>

    <div class="skillBox padding">
        <div data-aos="fade-up" data-aos-once="true" data-aos-offset="100" *ngFor="let skill of skills; let i = index" class="smallSkillbox">
            <div>
                <div class="iconBox">
                    <img src="{{ skill.img }}">
                </div>
                <p>{{ skill["title"] }}</p>
            </div>

        </div>
    </div>

</div>