.home {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    @media (max-width: 546px) {
        padding-left: 50px;
        padding-right: 50px;
    }
    @media (max-width: 379px) {
        padding-left: 30px;
        padding-right: 30px;
    }
    img {
        width: 450px;
        height: 450px;
        border-radius: 100%;
    }
}

.homeDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 900px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    img {
        margin-left: 40px;
        width: 400px !important;
        height: 400px !important;
        @media (max-width: 1300px) {
            width: 300px !important;
            height: 300px !important;
            margin-bottom: 40px;
        }
        @media (max-width: 900px) {
            margin-left: 0px;
            width: 250px !important;
            height: 250px !important;
        }
        @media (max-width: 280px) {
            margin-left: 0px;
            width: 180px !important;
            height: 180px !important;
        }
    }
}

.homeArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 160px;
    img {
        width: 54px !important;
        height: 54px !important;
    }
}

.homeText {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    @media (max-width: 900px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    p {
        font-size: 64px;
        margin-top: 5px;
        margin-bottom: 50px;
        font-weight: 700;
        @media (max-width: 1230px) {
            font-size: 50px;
        }
        @media (max-width: 1040px) {
            font-size: 38px;
        }
        @media (max-width: 640px) {
            font-size: 30px;
        }
        @media (max-width: 546px) {
            font-size: 24px;
        }
        @media (max-width: 300px) {
            font-size: 18px;
        }
    }
}

.primary {
    font-size: 24px;
    color: #2DFCD8 !important;
    cursor: pointer;
    @media (max-width: 546px) {
        font-size: 18px;
    }
}

button {
    height: 78px;
    width: 300px;
    margin-top: 50px;
    background-color: black;
    border: solid 2px #2DFCD8;
    border-radius: 5px;
    @media (max-width: 1230px) {
        margin-top: 0px;
    }
    @media (max-width: 546px) {
        height: 50px;
        width: 200px;
    }
    &:hover {
        background-color: #2DFCD8;
        color: black !important;
    }
}

.name {
    color: #FA2759;
}

.e {
    color: #2DFCD8;
}