<div class="home">
    <div class="homeDiv">
        <div>
            <div class="homeText">
                <p>Hi, <br>I'm <b class="name">Waldemar</b> Neumann, <br> Front End develop<b class="e">e</b>r</p>

                <a href="#contact">
                    <button href="#contact" class="primary">Contact me</button>
                </a>
            </div>

        </div>
        <img src="./assets/img/profile.jpg">
    </div>

    <div class="homeArrow">
        <img data-aos="fade-down" src="./assets/img/Group 69.png">
    </div>
</div>