<div class="home padding">
    <div class="homeDiv">
        <div>
            <div class="homeText">
                <p data-aos="fade-right" data-aos-easing="ease-out-cubis">Hi, <br> I'm <b class="name" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">Waldemar</b> Neumann, <br> Front End develop<b class="e">e</b>r</p>

                <a href="#contact" routerLinkActive="active">
                    <button href="#contact" class="primary">Contact me</button>
                </a>
            </div>

        </div>
        <img src="assets/img/profile.jpg">
    </div>

    <div class="homeArrow">
        <img data-aos="fade-down" src="./assets/img/Group 69.png">
    </div>
</div>